*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(310deg, #240b36, #c31432, #24dbfb, #940570);
  background-size: 600% 600%;
  transition: all 0.3s ease-in-out;
  animation: oscillateBG 10s ease infinite;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}


@keyframes oscillateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.cont {
  position: relative;
  overflow: hidden;
  height: 100vh;
  padding: 80px 70px;
}
.cont__inner {
  position: relative;
  height: 100%;
}
.cont__inner:hover .el__bg:after {
  opacity: 1;
}

.el {
  position: absolute;
  left: 0;
  top: 0;
  width: 19.2%;
  height: 100%;
  background: #252525;
  -webkit-transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s;
  transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s, z-index 0s 1.3s, -webkit-transform 0.6s 0.7s;
  will-change: transform, width, opacity;
}
.el:not(.s--active) {
  cursor: pointer;
}
.el__overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.el__inner {
  overflow: hidden;
  position: relative;
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}
.cont.s--inactive .el__inner {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.el__bg {
  position: relative;
  width: calc(100vw - 140px);
  height: 100%;
  -webkit-transition: -webkit-transform 0.6s 0.7s;
  transition: -webkit-transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s;
  transition: transform 0.6s 0.7s, -webkit-transform 0.6s 0.7s;
  will-change: transform;
}
.el__bg:before {
  content: "";
  position: absolute;
  left: 0;
  top: -5%;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
          transform: translate3d(0, 0, 0) scale(1);
}
.cont.s--inactive .el__bg:before {
  -webkit-transform: translate3d(0, -100%, 0) scale(1.2);
          transform: translate3d(0, -100%, 0) scale(1.2);
}
.el.s--active .el__bg:before {
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.el__bg:after {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.cont.s--el-active .el__bg:after {
  -webkit-transition: opacity 0.5s 1.4s;
  transition: opacity 0.5s 1.4s;
  opacity: 1 !important;
}
.el__preview-cont {
  z-index: 2;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s 1.2s;
  transition: all 0.3s 1.2s;
}
.cont.s--inactive .el__preview-cont {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.cont.s--el-active .el__preview-cont {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.el__heading {
  color: #fff;
  text-transform: uppercase;
  font-size: 18px;
}
.el__content {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.el.s--active .el__content {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0.5s 1.4s;
  transition: all 0.5s 1.4s;
}
.el__text {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
}
.el__close-btn {
  z-index: -1;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 60px;
  height: 60px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0s 0.45s;
  transition: all 0s 0.45s;
  cursor: pointer;
}
.el.s--active .el__close-btn {
  z-index: 5;
  opacity: 1;
  pointer-events: auto;
  -webkit-transition: all 0s 1.4s;
  transition: all 0s 1.4s;
}
.el__close-btn:before, .el__close-btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 8px;
  margin-top: -4px;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0s;
  transition: opacity 0s;
}
.el.s--active .el__close-btn:before, .el.s--active .el__close-btn:after {
  opacity: 1;
}
.el__close-btn:before {
  -webkit-transform: rotate(45deg) translateX(100%);
          transform: rotate(45deg) translateX(100%);
}
.el.s--active .el__close-btn:before {
  -webkit-transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  -webkit-transform: rotate(45deg) translateX(0);
          transform: rotate(45deg) translateX(0);
}
.el__close-btn:after {
  -webkit-transform: rotate(-45deg) translateX(100%);
          transform: rotate(-45deg) translateX(100%);
}
.el.s--active .el__close-btn:after {
  -webkit-transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
  -webkit-transform: rotate(-45deg) translateX(0);
          transform: rotate(-45deg) translateX(0);
}
.el__index {
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: -80px;
  width: 100%;
  height: 100%;
  min-height: 250px;
  text-align: center;
  font-size: 20vw;
  line-height: 0.85;
  font-weight: bold;
  -webkit-transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
  transition: opacity 0.3s 1.4s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s 1.4s;
  transition: transform 0.5s, opacity 0.3s 1.4s, -webkit-transform 0.5s;
  -webkit-transform: translate3d(0, 1vw, 0);
          transform: translate3d(0, 1vw, 0);
}
.el:hover .el__index {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.cont.s--el-active .el__index {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: opacity 0.3s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.3s;
  transition: transform 0.5s, opacity 0.3s, -webkit-transform 0.5s;
  opacity: 0;
}
.el__index-back, .el__index-front {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.el__index-back {
  color: #2f3840;
  opacity: 0;
  -webkit-transition: opacity 0.25s 0.25s;
  transition: opacity 0.25s 0.25s;
}
.el:hover .el__index-back {
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 1;
}
.el__index-overlay {
  overflow: hidden;
  position: relative;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
  color: transparent;
}
.el__index-overlay:before {
  content: attr(data-index);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: -webkit-transform 0.5s 0.1s;
  transition: -webkit-transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s;
  transition: transform 0.5s 0.1s, -webkit-transform 0.5s 0.1s;
}
.el:hover .el__index-overlay {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.el:hover .el__index-overlay:before {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.el:nth-child(1) {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.cont.s--el-active .el:nth-child(1):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(0%, 0, 0);
          transform: scale(0.5) translate3d(0%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(1) .el__inner {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.el:nth-child(1) .el__bg {
  -webkit-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);
}
.el:nth-child(1) .el__bg:before {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
 
          background-image: linear-gradient(
            rgba(10, 10, 10, 0.3), 
            rgba(17, 17, 17, 0.171)
        ),
          url(../img/rap.jpg);
          background-position:center;
}
.el:nth-child(2) {
  -webkit-transform: translate3d(105.2083333333%, 0, 0);
          transform: translate3d(105.2083333333%, 0, 0);
  -webkit-transform-origin: 155.2083333333% 50%;
          transform-origin: 155.2083333333% 50%;
}
.cont.s--el-active .el:nth-child(2):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
          transform: scale(0.5) translate3d(105.2083333333%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(2) .el__inner {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.el:nth-child(2) .el__bg {
  -webkit-transform: translate3d(-19.2%, 0, 0);
          transform: translate3d(-19.2%, 0, 0);
}
.el:nth-child(2) .el__bg:before {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
          background-image: linear-gradient(
            rgba(10, 10, 10, 0.3), 
            rgba(17, 17, 17, 0.3)
        ),
          url(../img/rancheras.jpg);
}
.el:nth-child(3) {
  -webkit-transform: translate3d(210.4166666667%, 0, 0);
          transform: translate3d(210.4166666667%, 0, 0);
  -webkit-transform-origin: 260.4166666667% 50%;
          transform-origin: 260.4166666667% 50%;
}
.cont.s--el-active .el:nth-child(3):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
          transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(3) .el__inner {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.el:nth-child(3) .el__bg {
  -webkit-transform: translate3d(-38.4%, 0, 0);
          transform: translate3d(-38.4%, 0, 0);
}
.el:nth-child(3) .el__bg:before {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3), 
      rgba(17, 17, 17, 0.3)
  ),
    url(../img/electro.jpg);
}
.el:nth-child(4) {
  -webkit-transform: translate3d(315.625%, 0, 0);
          transform: translate3d(315.625%, 0, 0);
  -webkit-transform-origin: 365.625% 50%;
          transform-origin: 365.625% 50%;
}
.cont.s--el-active .el:nth-child(4):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(315.625%, 0, 0);
          transform: scale(0.5) translate3d(315.625%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(4) .el__inner {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.el:nth-child(4) .el__bg {
  -webkit-transform: translate3d(-57.6%, 0, 0);
          transform: translate3d(-57.6%, 0, 0);
}
.el:nth-child(4) .el__bg:before {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  /* background-image: url("./img/rock.jpg"); */
  background-image: linear-gradient(
      rgba(10, 10, 10, 0.3), 
      rgba(17, 17, 17, 0.3)
    ),
  url(../img/gui.jpg); 
  
  background-position-x:center;
  background-position-y: center;
  
}

.el:nth-child(5) {
  -webkit-transform: translate3d(420.8333333333%, 0, 0);
          transform: translate3d(420.8333333333%, 0, 0);
  -webkit-transform-origin: 470.8333333333% 50%;
          transform-origin: 470.8333333333% 50%;
}
.cont.s--el-active .el:nth-child(5):not(.s--active) {
  -webkit-transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
          transform: scale(0.5) translate3d(420.8333333333%, 0, 0);
  opacity: 0;
  -webkit-transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: opacity 0.95s, -webkit-transform 0.95s;
  transition: transform 0.95s, opacity 0.95s;
  transition: transform 0.95s, opacity 0.95s, -webkit-transform 0.95s;
}
.el:nth-child(5) .el__inner {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.el:nth-child(5) .el__bg {
  -webkit-transform: translate3d(-76.8%, 0, 0);
          transform: translate3d(-76.8%, 0, 0);
}
.el:nth-child(5) .el__bg:before {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
  
  background-image: linear-gradient(
    rgba(10, 10, 10, 0.219), 
    rgba(17, 17, 17, 0.089)
  ),
url(../img/pop.jpg); 
}
.el:hover .el__bg:after {
  opacity: 0;
}
.el.s--active {
  z-index: 1;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
  transition: width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  transition: transform 0.6s, width 0.7s 0.7s, z-index 0s, -webkit-transform 0.6s;
}
.el.s--active .el__bg {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
}
.el.s--active .el__bg:before {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.icon-link {
  position: absolute;
  left: 5px;
  bottom: 5px;
  width: 32px;
}
.icon-link img {
  width: 100%;
  vertical-align: top;
}
.icon-link--twitter {
  left: auto;
  right: 5px;
}

#container-a {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  height: 360px;
  background: #111;
  box-shadow: 0 30px 20px -20px #000;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  clear: both;
  box-sizing: border-box;
}
.header .playlist {
  float: left;
  cursor: pointer;
}
.header .setting {
  float: right;
  cursor: pointer;
}
.main {
  clear: both;
  padding: 1rem 2rem;
  box-sizing: border-box;
}
.main .album-art {
  float: left;
  padding: 0.5rem;
  background: #000;
}
.main .album-art img {
  width: 160px;
  border-radius: 8px;
  box-sizing: border-box;
}
.main .player {
  position: relative;
  float: right;
  width: 176px;
  height: 176px;
  background: -webkit-gradient(linear, left bottom, left top, from(#222), to(#111));
  background: linear-gradient(0deg, #222, #111);
  border-radius: 100%;
  border: solid 2px #000;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 4px 2px rgba(0, 0, 0, 0.2);
}
.main .player .fa {
  font-size: 1.2rem;
  position: absolute;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main .player .fa:hover {
  color: cyan;
  text-shadow: 0 0 4px cyan;
}
.main .player .fa.fa-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
  border: solid 2px #000;
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.2), 0 0 8px rgba(0, 0, 0, 0.6);
  border-radius: 100%;
  line-height: 88px;
  text-align: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#111), to(#222));
  background: linear-gradient(0deg, #111, #222);
}
.main .player .fa.fa-repeat {
  top: 8%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.main .player .fa.fa-fast-backward {
  top: 50%;
  left: 8%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main .player .fa.fa-fast-forward {
  top: 50%;
  left: 82%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.main .player .fa.fa-random {
  top: 82%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.footer {
  clear: both;
  padding: 2rem 2rem;
  color: #999;
  text-shadow: 2px 2px #111;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
.footer .title {
  text-align: center;
  padding-bottom: 0.5rem;
}
.footer .time-tracker {
  border-top: solid 1px #000;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.footer .time-tracker .timer {
  position: relative;
  float: left;
  width: 90%;
  height: 2rem;
  cursor: pointer;
}
.footer .time-tracker .timer .bg {
  position: relative;
  top: 50%;
  margin-right: 0.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 0.6rem;
  border-top: solid 1px #000;
  border-radius: 10px;
  background: none;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.2);
  overflow: hidden;
  box-sizing: border-box;
}
.footer .time-tracker .timer .bg:before {
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  height: 0.2rem;
  border-radius: 10px;
  width: 10%;
  background: cyan;
  box-shadow: 0 0 2px 2px cyan;
}
.footer .time-tracker .time {
  float: left;
  width: 10%;
  line-height: 2rem;
}

.el__text{
  
  width: 30%;
  margin-top: 20%;

  margin-left: 30%;
}



.el__text .audio{
  margin-left: 35%;
  
}


/* tele */




.control .on {
  padding-left: 15%;
  margin-top: 5%;
}

.control .on button {
  background: #ED213A;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#93291E), to(#ED213A));
  background: linear-gradient(to bottom, #93291E, #ED213A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  padding: 5%;
  border-radius: 50%;
}

.copyright {
  background: #252425;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
}

body {
  font-family: 'Nunito', sans-serif;
}

.a {
  color: #E7484F;
}

.b {
  color: #F68B1D;
}

.c {
  color: #FCED00;
}

.d {
  color: #009E4F;
}

.e {
  color: #00AAC3;
}

.f {
  color: #732982;
}

.text-center {
  text-align: center;
}

.rainbow {
  background-color: #1d1f20;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 2%;
  margin-top: 5%;
  float: right;
}

.rainbow-1:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#00C0FF), color-stop(49%, #FFCF00), color-stop(80%, #FC4F4F), to(#00C0FF));
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  -webkit-animation: slidebg 5s linear infinite;
          animation: slidebg 5s linear infinite;
}

.rainbow-2:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(orange), color-stop(yellow), color-stop(green), color-stop(blue), color-stop(indigo), color-stop(violet), to(red));
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet, red);
  -webkit-animation: slidebg 2s linear infinite;
          animation: slidebg 2s linear infinite;
}

.rainbow-3:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(red), color-stop(orange), color-stop(yellow), color-stop(green), color-stop(blue), color-stop(indigo), to(red));
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, red);
  -webkit-animation: slidebg 2s linear infinite;
          animation: slidebg 2s linear infinite;
}

.rainbow-4:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#E7484F), color-stop(#F68B1D), color-stop(#FCED00), color-stop(#009E4F), color-stop(#00AAC3), to(#732982));
  background-image: linear-gradient(to right, #E7484F, #F68B1D, #FCED00, #009E4F, #00AAC3, #732982);
  -webkit-animation: slidebg 2s linear infinite;
          animation: slidebg 2s linear infinite;
}

.rainbow-5:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#E7484F), color-stop(16.65%, #E7484F), color-stop(16.65%, #F68B1D), color-stop(33.3%, #F68B1D), color-stop(33.3%, #FCED00), color-stop(49.95%, #FCED00), color-stop(49.95%, #009E4F), color-stop(66.6%, #009E4F), color-stop(66.6%, #00AAC3), color-stop(83.25%, #00AAC3), color-stop(83.25%, #732982), color-stop(100%, #732982), to(#E7484F));
  background-image: linear-gradient(to right, #E7484F, #E7484F 16.65%, #F68B1D 16.65%, #F68B1D 33.3%, #FCED00 33.3%, #FCED00 49.95%, #009E4F 49.95%, #009E4F 66.6%, #00AAC3 66.6%, #00AAC3 83.25%, #732982 83.25%, #732982 100%, #E7484F 100%);
  -webkit-animation: slidebg 2s linear infinite;
          animation: slidebg 2s linear infinite;
}

@-webkit-keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.follow {
  margin-top: 40px;
}

.follow a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.volumen {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 5%;
  margin-bottom: 10%;
}

.btn-1,
.btn-2 {
  padding: 5%;
  margin-top: 5%;
  border-radius: 30%;
  border: none;
}

.btn-1 {
  margin-left: 20%;
}

.btn-2 {
  margin-left: 15%;
}

.button {
  border: 4px solid red;
}


.contactBody {
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
  padding: 10%;
}


.video-slider {
  display: none;
  margin-top: -500px;
  margin-left: 50px;
  width: 400px;
  height: 350px;
  background: #444;
  position: relative;
  overflow: hidden;
  border-radius: 20%;
}

.canal {
  position: relative;
  top: 0;
  left: 0;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.canal:first-child {
  display: block;
}

.video {
  height: 100%;
  width: 100%;
  border: 0;
}

.slide-arrow {
  position: absolute;
  top: 0;
  left: 0;
  height: 45%;
  width: 15%;
  cursor: pointer;
  opacity: .2;
}

.slide-arrow:hover {
  opacity: 1;
}

.slide-arrow:after {
  content: "\003c";
  text-align: center;
  display: block;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3em;
}

.slide-arrow.right:after {
  content: "\003e";
}

.slide-arrow.right {
  left: auto;
  right: 0;
}

